/*****************************/
/*****************************/
/*-- scss:defaults --*/
$primary:    #415A76;  /*darkblue */ 
$body-color: #383838; /*darkgrey */ 
$code-color: #383838; /*inline code color */ 


/*****************************/
/*****************************/
/*-- scss:rules --*/